@font-face {
  font-family: "HankenGrotesk";
  src: url("./assets/HankenGrotesk-VariableFont_wght.ttf") format("ttf");
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "HankenGrotesk", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(212, 45%, 89%);
}
